<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head::head (title='team.add')">
</head>
<body>
<header th:replace="fragments/header :: header (current='add-team')"></header>
<main>
    <div class="container-lg p-2">
        <h2 class="display-6" th:text="#{team.add}"></h2>
        <form action="#" th:action="@{/team/add}" method="post" th:object="${team}">
            <p class="mb-3">
                <label th:for="name" class="col-form-label" th:text="#{team.name.label}"></label>
                <input type="text" th:field="*{name}" class="form-control col-sm-5">
                <span th:each="err : ${#fields.errors('name')}" th:text="#{${err}}" class="text-danger"></span>
                <span th:each="err : ${teamError}" th:text="#{${err}}" class="text-danger"></span>
            </p>
            <p class="mb-3">
                <label th:for="minAge" class="col-form-label" th:text="#{team.minAge.label}"></label>
                <input type="number" th:field="*{minAge}" class="form-control col-sm-5" required>
                <span th:each="err : ${#fields.errors('minAge')}" th:text="#{${err}}" class="text-danger"></span>
            </p>
            <p class="mb-3">
                <label th:for="maxAge" class="col-form-label" th:text="#{team.maxAge.label}"></label>
                <input type="number" th:field="*{maxAge}" class="form-control col-sm-5" required>
                <span th:each="err : ${#fields.errors('maxAge')}" th:text="#{${err}}" class="text-danger"></span>
                <span th:each="err : ${minmaxError}" th:text="#{${err}}" class="text-danger"></span>
            </p>
            <p class="mb-3">
                <label th:for="numberOfPlayers" class="col-form-label" th:text="#{team.numberOfPlayers.label}"></label>
                <input type="number" th:field="*{numberOfPlayers}" class="form-control col-sm-5" required>
                <span th:each="err : ${#fields.errors('numberOfPlayers')}" th:text="#{${err}}" class="text-danger"></span>
            </p>
            <p>
                <input type="submit" th:value="#{team.submit}" class="btn btn-primary">
            </p>
        </form>
    </div>
</main>
<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

</body>
</html>