<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head::head (title='bus.update')">
</head>
<body>
<header th:replace="fragments/header :: header (current='update-bus')"></header>
<main>
    <div class="container-lg p-2">
        <h2 class="display-6" th:text="#{bus.update}"></h2>
        <div th:if="${error}!=null" class="alert-danger">
            <span th:text="${error}"></span>
        </div>

        <form action="#" th:action="@{/bus/update/{id}(id=${bus.id})}" th:object="${bus}" method="post">
            <p class="mb-3">
                <label th:for="email" class="form-label" th:text="#{bus.email.label}"></label>
                <input type="text" th:field="*{email}"  class="form-control col-sm-5">
                <span th:each="err : ${#fields.errors('email')}" th:text="#{${err}}" class="text-danger"></span>
                <span th:if="${busError}!=null" th:text="#{${busError}}" class="text-danger"></span>
            </p>
            <p class="mb-3">
                <label th:for="seats" class="form-label" th:text="#{bus.seats.label}"></label>
                <input type="number" th:field="*{seats}" class="form-control col-sm-5" required>
                <span th:each="err : ${#fields.errors('seats')}" th:text="#{${err}}" class="text-danger"></span>
            </p>
            <p class="mb-3">
                <label th:for="departureLocation" class="form-label" th:text="#{bus.departureLocation.label}"></label>
                <input type="text" th:field="*{departureLocation}" class="form-control col-sm-5">
                <span th:each="err : ${#fields.errors('departureLocation')}" th:text="#{${err}}" class="text-danger"></span>
            </p>
            <p class="mb-3">
                <label th:for="name" class="form-label" th:text="#{bus.name.label}"></label>
                <input type="text" th:field="*{name}" class="form-control col-sm-5">
                <span th:each="err : ${#fields.errors('name')}" th:text="#{${err}}" class="text-danger"></span>
             </p>
        <p>
            <input type="submit" th:value="#{bus.update.label}" class="btn btn-primary">
        </p>
        </form>
    </div>
</main><!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

</body>
</html>